@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(1.1); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(1.1); }
  100% {
    opacity: 1;
    transform: none; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blurIn {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px); }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0); } }

@keyframes blurIn {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px); }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0); } }

[data-animate="zoom-in"],
[data-animate="fade-in"] {
  opacity: 0; }

[data-animate="blur-in"] {
  opacity: 0;
  -webkit-filter: blur(10px);
          filter: blur(10px); }

[data-animate-block="active"] [data-animate="zoom-in"] {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

[data-animate-block="active"] [data-animate="fade-in"] {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

[data-animate-block="active"] [data-animate="blur-in"] {
  -webkit-animation-name: blurIn;
          animation-name: blurIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

[data-animate-block="active"] [data-animate-delay="1000"] {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

[data-animate-block="active"] [data-animate-delay="1500"] {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

[data-animate-block="active"] [data-animate-delay="2000"] {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

[data-animate-block="active"] [data-animate-delay="2500"] {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s; }

[data-animate-block="active"] [data-animate-delay="3000"] {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

[data-animate-block="active"] [data-animate-delay="4000"] {
  -webkit-animation-delay: 4s;
          animation-delay: 4s; }

[data-animate-block="active"] [data-animate-delay="5000"] {
  -webkit-animation-delay: 5s;
          animation-delay: 5s; }

[data-animate-block="active"].block.riverOfStars .block-content::before {
  height: 21%; }

[data-animate-block="active"].block.sprouts .block-content::before {
  height: 32%; }

[data-animate-block="active"].block.sproutsFull .block-content::before {
  height: 135%; }

[data-animate-block="active"].block.group .block-content::before {
  height: 95%; }

[data-animate-block="active"].block.group .block-content::after {
  height: 68%; }

@media only screen and (max-width: 1023px) {
  [data-animate-block="active"]::before {
    padding-bottom: 18%; }
  [data-animate-block="active"].block.group::before {
    padding-bottom: 16%; }
  [data-animate-block="active"].block.group .block-content::after {
    height: auto;
    padding-bottom: 16%; } }

@media only screen and (max-width: 767px) {
  [data-animate-block="active"]::before {
    padding-bottom: 32%; }
  [data-animate-block="active"].block.group::before {
    padding-bottom: 43%; }
  [data-animate-block="active"].block.group .block-content::after {
    height: auto;
    padding-bottom: 40%; } }

.block {
  display: flex;
  box-sizing: border-box;
  padding: 5.2% 2.6% 5.2% 3%;
  font-size: 1.15vw;
  line-height: 2; }
  .block-pic {
    flex: 0 0 auto; }
    .block-pic img {
      width: 100%; }
  .block-content {
    position: relative;
    flex: 1; }
    .block-content::before {
      content: '';
      position: absolute;
      width: 1px;
      background-color: #fff;
      transition: 2s; }
    .block-content .text {
      text-align: left; }
  .block .intro {
    position: relative;
    display: inline-block;
    margin: 1.2em 0 0.7em;
    padding: 0 1em;
    font-size: 2.3vw;
    line-height: 1.5;
    color: #E6C07F;
    text-align: center; }
    .block .intro::before, .block .intro::after {
      content: '';
      position: absolute;
      top: -0.5em;
      width: 0.8em;
      height: 0.8em;
      background-image: url(./../images/icon/dot.svg); }
    .block .intro::before {
      left: 0; }
    .block .intro::after {
      right: 0;
      transform: rotateY(180deg); }
  .block .sentence {
    margin-top: 4em;
    text-align: center; }
  .block .title {
    margin-bottom: 0.7em;
    font-size: 2.3vw;
    color: #E6C07F; }
  .block.founder {
    font-size: 1.25vw;
    text-align: center; }
    .block.founder .text {
      margin: 0 14%; }
    .block.founder .sentence {
      margin-top: 0; }
  .block.founder .block-pic {
    width: 31.8%; }
  .block.founder .block-content {
    padding: 0 2.5% 0 0; }
  .block.riverOfStars .intro {
    margin-bottom: 0;
    font-size: 1.8vw; }
  .block.riverOfStars .block-pic {
    width: 54.5%;
    padding-left: 6%;
    text-align: center; }
  .block.riverOfStars .block-content {
    padding-top: 8%; }
    .block.riverOfStars .block-content::before {
      top: -5%;
      left: 0;
      height: 0; }
  .block.sprouts .block-pic {
    width: 39%;
    padding-right: 5%; }
  .block.sprouts .block-content {
    padding: 5% 5% 0 0;
    margin-left: 8%; }
    .block.sprouts .block-content::before {
      top: -20%;
      left: 0;
      height: 0; }
  .block.sproutsFull {
    position: relative;
    display: block;
    padding-top: 6.5%;
    padding-bottom: 0; }
  .block.sproutsFull .block-content {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translateX(-50%); }
    .block.sproutsFull .block-content::before {
      top: -130%;
      left: -3%;
      height: 0; }
  .block.group {
    align-items: center;
    padding-top: 10%;
    background: linear-gradient(180deg, #0D150D 0%, #0D150D00 100%);
    overflow: hidden; }
  .block.group .block-pic {
    width: 55%; }
  .block.group .block-content {
    padding: 0 5% 0 8%; }
    .block.group .block-content::before {
      top: -102%;
      left: 50%;
      height: 0; }
    .block.group .block-content::after {
      content: '';
      position: absolute;
      bottom: -77%;
      left: 50%;
      width: 1px;
      height: 0;
      background-color: #fff;
      transition: 2s; }
  @media only screen and (max-width: 1023px) {
    .block {
      position: relative;
      flex-direction: column;
      padding: 10% 5.5%;
      font-size: 16px; }
      .block::before {
        content: '';
        position: absolute;
        top: -8%;
        left: 50%;
        width: 1px;
        background-color: #fff;
        transition: 2s; }
      .block-pic {
        order: 1; }
      .block-content {
        margin-top: 20px;
        order: 2;
        text-align: center; }
        .block-content::before {
          content: none; }
      .block .intro {
        margin: 30px 0 40px;
        font-size: 22px;
        line-height: 1.8; }
      .block .title {
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 1.5;
        text-align: left; }
      .block .text {
        text-align: left; }
      .block.founder {
        padding-top: 5%;
        font-size: 16px; }
        .block.founder::before {
          content: none; }
        .block.founder .text {
          margin: 0; }
        .block.founder .sentence {
          text-align: left; }
      .block.founder .block-pic {
        width: 360px;
        margin-left: auto; }
      .block.founder .block-content {
        padding: 0;
        margin-top: -56px; }
      .block.riverOfStars .intro {
        font-size: 22px; }
      .block.riverOfStars .block-pic {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        padding-left: 0; }
      .block.riverOfStars .block-content {
        padding-top: 0; }
      .block.sprouts .block-pic {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        padding-right: 0; }
      .block.sprouts .block-content {
        padding: 0;
        margin-left: 0; }
      .block.sproutsFull {
        padding-top: 10%; }
      .block.sproutsFull .block-pic {
        width: 100%;
        max-width: 450px;
        margin: 0 auto; }
      .block.sproutsFull .block-content {
        position: static;
        margin-top: 0;
        transform: none; }
      .block.group {
        padding-top: 20%; }
        .block.group::before {
          top: 0; }
      .block.group .block-pic {
        width: 100%;
        max-width: 450px;
        margin: 0 auto; }
      .block.group .block-content {
        margin-top: 20%;
        padding: 0; }
        .block.group .block-content::after {
          top: 0;
          bottom: auto;
          transform: translateY(-110%);
          height: auto; } }
  @media only screen and (max-width: 767px) {
    .block {
      padding: 20% 5.5%;
      font-size: 16px; }
      .block.founder {
        padding-top: 10%;
        font-size: 14px; }
      .block.founder .block-pic {
        width: 210px; }
      .block.founder .block-content {
        position: relative;
        margin-top: -15px;
        z-index: 1; }
      .block.sproutsFull {
        padding-top: 20%; }
      .block.group {
        padding-top: 50%; }
      .block.group .block-content {
        margin-top: 50%; } }

@media only screen and (min-width: 768px) {
  .padDown {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .padUp {
    display: none !important; } }

@media only screen and (min-width: 1024px) {
  .pcDown {
    display: none !important; } }

@media only screen and (max-width: 1023px) {
  .pcUp {
    display: none !important; } }

.hidden {
  display: none !important; }

.textCenter {
  text-align: center; }

.bold {
  font-weight: bold; }
