.gallery {
  box-sizing: border-box;
  margin: 4% 1% 4% 13%;
  overflow: hidden; }
  .gallery .swiper-scrollbar {
    position: static;
    left: 0;
    right: auto;
    width: 95.1%;
    height: 2px;
    margin: 30px auto;
    border-radius: 0;
    background-color: #666; }
    .gallery .swiper-scrollbar .swiper-scrollbar-drag {
      background-color: #97763e; }
  .gallery .swiper-arrow {
    display: flex;
    justify-content: center; }
  .gallery .swiper-button-next,
  .gallery .swiper-button-prev {
    position: static;
    margin: 0;
    background: none;
    width: auto;
    height: auto;
    margin: 0 20px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 500;
    color: #E6C07F;
    border: 1px solid #E6C07F; }
    .gallery .swiper-button-next:focus,
    .gallery .swiper-button-prev:focus {
      outline: none; }
  @media only screen and (max-width: 1480px) {
    .gallery {
      margin: 4% 1% 4% 8%; }
      .gallery .swiper-scrollbar {
        margin: 25px auto; }
      .gallery .swiper-button-next,
      .gallery .swiper-button-prev {
        margin: 0 15px;
        font-size: 18px; } }
  @media only screen and (min-width: 1024px) {
    .gallery .swiper-button-next,
    .gallery .swiper-button-prev {
      transition: .4s; }
      .gallery .swiper-button-next:hover,
      .gallery .swiper-button-prev:hover {
        background-color: #E6C07F;
        color: #000; } }
  @media only screen and (max-width: 1023px) {
    .gallery {
      position: relative;
      margin: 9% 3%; }
      .gallery .swiper-scrollbar {
        width: 94.3%;
        margin: 40px auto; } }
  @media only screen and (max-width: 767px) {
    .gallery {
      position: relative;
      max-width: 460px;
      height: calc(100vh - 135px);
      margin: 35px auto 0;
      padding: 0 30px; }
      .gallery::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 30%, #000 80%);
        transition: .4s;
        pointer-events: none;
        z-index: 2; }
      .gallery .swiper-slide {
        height: auto; }
      .gallery .swiper-scrollbar {
        position: absolute;
        top: 30px;
        left: auto;
        right: 14px;
        box-sizing: border-box;
        width: 2px;
        height: calc(100% - 100px);
        margin: 0;
        background-color: #888;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        z-index: 5; }
      .gallery .swiper-button-next,
      .gallery .swiper-button-prev {
        position: absolute;
        left: auto;
        right: 5px;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        font-size: 0;
        border: none;
        background-image: url(./../images/icon/arrow-gld.svg);
        background-repeat: no-repeat;
        background-position: center; }
      .gallery .swiper-button-prev {
        top: 0;
        transform: rotate(180deg); }
      .gallery .swiper-button-next {
        top: auto;
        bottom: 40px; }
      .gallery.pageEnd::before {
        height: 0; } }
  @media only screen and (max-width: 440px) {
    .gallery {
      height: calc(100vh - 145px);
      margin: 25px 0 0; } }

.gird {
  padding: 0 7.5%; }
  .gird-item {
    display: block; }
    .gird-item img {
      width: 100%; }
    .gird-item + .gird-item {
      margin-top: 9.5%; }
  @media only screen and (min-width: 1024px) {
    .gird-item {
      overflow: hidden; }
      .gird-item img {
        transition: .4s; }
      .gird-item:hover img {
        transform: scale(1.1); } }
  @media only screen and (max-width: 1023px) {
    .gird {
      padding: 0 6%; } }
  @media only screen and (max-width: 767px) {
    .gird {
      padding: 0; }
      .gird-item + .gird-item {
        margin-top: 15px; } }

.detail {
  position: relative;
  height: 100vh; }
  .detail-bg {
    height: 100%; }
    .detail-bg img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; }
  .detail-action {
    position: absolute;
    right: 2.5%;
    bottom: 4.8%;
    display: flex; }
  .detail-content {
    position: absolute;
    bottom: 4.8%;
    left: 7.7%;
    width: 535px; }
  @media only screen and (max-width: 1480px) {
    .detail-content {
      left: 6%;
      width: 480px; } }
  @media only screen and (max-width: 1279px) {
    .detail-action {
      display: block; }
      .detail-action .action + .action {
        border-left: none;
        border-top: 1px solid #707070; }
      .detail-action .btn.-notArrow {
        width: 100%;
        text-align: center; } }
  @media only screen and (max-width: 1023px) {
    .detail {
      height: auto; }
      .detail-bg img {
        height: auto;
        -o-object-fit: unset;
           object-fit: unset; }
      .detail-action {
        position: static; }
        .detail-action .action + .action {
          border-top: none;
          margin-top: 5px; }
        .detail-action .btn {
          width: 100%;
          text-align: center; }
      .detail-content {
        position: static;
        box-sizing: border-box;
        width: 100%;
        padding: 65px 35px; } }

.content {
  position: relative;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5); }
  .content-collapse {
    position: absolute;
    top: 35px;
    right: 30px;
    display: block;
    width: 36px;
    height: 36px;
    background-image: url(./../images/icon/open.svg);
    background-repeat: no-repeat;
    background-size: contain; }
  .content-title {
    margin-bottom: 30px;
    padding-right: 40px;
    font-size: 32px;
    font-weight: 500;
    color: #E6C07F; }
  .content-text {
    line-height: 2; }
  .content-wrap {
    display: -webkit-box;
    max-height: 6em;
    font-size: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
  .content-action {
    display: flex;
    margin-top: 20px; }
  .content.isOpen .content-collapse {
    background-image: url(./../images/icon/close.svg); }
  .content.isOpen .content-wrap {
    max-height: none;
    -webkit-line-clamp: unset; }
  @media only screen and (max-width: 1480px) {
    .content {
      padding: 20px; }
      .content-collapse {
        top: 25px;
        right: 20px;
        width: 32px;
        height: 32px; }
      .content-wrap {
        font-size: 18px; }
      .content-title {
        margin-bottom: 20px;
        font-size: 28px; } }
  @media only screen and (min-width: 1024px) {
    .content-collapse {
      transition: .4s; }
      .content-collapse:hover {
        transform: scale(1.15); }
    .content.isOpen .content-collapse:hover {
      transform: scale(0.85); } }
  @media only screen and (max-width: 1023px) {
    .content {
      padding: 0 30px; }
      .content-collapse {
        display: none; }
      .content-title {
        margin-bottom: 30px;
        padding-right: 0;
        font-size: 30px; }
      .content-wrap {
        max-height: none;
        -webkit-line-clamp: unset; }
      .content-action {
        margin-top: 40px; } }
  @media only screen and (max-width: 767px) {
    .content {
      padding: 0; }
      .content-action {
        display: block; }
        .content-action .subBtn + .subBtn {
          margin-top: 20px; }
        .content-action .subBtn::before {
          content: none; } }

@media only screen and (min-width: 768px) {
  .padDown {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .padUp {
    display: none !important; } }

@media only screen and (min-width: 1024px) {
  .pcDown {
    display: none !important; } }

@media only screen and (max-width: 1023px) {
  .pcUp {
    display: none !important; } }

.hidden {
  display: none !important; }

.textCenter {
  text-align: center; }

.bold {
  font-weight: bold; }
