.block {
  box-sizing: border-box; }
  .block-head {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    box-sizing: border-box;
    width: calc((100% - 100px)*0.3);
    padding: 0 20px; }
  .block-title, .block-select {
    width: 100%;
    max-width: 225px;
    margin: 0 auto;
    font-size: 36px;
    text-align: left; }
  .block-title {
    color: #E6C07F;
    font-weight: 500; }
  .block-select {
    margin-top: 40px; }
    .block-select select {
      font-family: "Noto Serif TC", sans-serif, Arial, "Microsoft JhengHei", Helvetica;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
      -o-font-smoothing: antialiased;
      width: 100%;
      padding: 0;
      font-weight: 500;
      color: #fff;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      outline: none;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      background-image: url(./../images/icon/arrow-down.svg);
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 25px; }
      .block-select select::-ms-expand {
        display: none; }
      .block-select select:focus::-ms-value {
        color: #fff;
        background-color: transparent; }
  .block-content {
    width: 70%;
    margin-left: auto; }
  @media only screen and (max-width: 1480px) {
    .block-title, .block-select {
      max-width: 190px;
      font-size: 30px; }
    .block-select {
      margin-top: 20px; } }
  @media only screen and (max-width: 1023px) {
    .block-head {
      position: static;
      transform: none;
      width: 100%;
      padding: 30px 20px; }
    .block-title, .block-select {
      max-width: none;
      font-size: 32px; }
    .block-select select {
      display: inline-block;
      width: auto;
      padding-right: 35px; }
    .block-content {
      width: 100%; } }

.articleItem {
  padding: 110px 40px 110px 0; }
  .articleItem-pic img {
    width: 100%; }
  .articleItem-content {
    position: relative;
    margin-top: 40px;
    padding-top: 20px; }
    .articleItem-content::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 65px;
      height: 1px;
      background-color: #fff; }
  .articleItem-date {
    margin-bottom: 15px;
    font-size: 18px; }
  .articleItem-title {
    font-size: 26px; }
  .articleItem-link {
    margin-top: 40px;
    text-align: right; }
  @media only screen and (max-width: 1480px) {
    .articleItem {
      padding: 60px 40px 60px 0; }
      .articleItem-date {
        font-size: 16px; }
      .articleItem-title {
        font-size: 20px; } }
  @media only screen and (max-width: 1023px) {
    .articleItem {
      padding: 0 0 95px 0; }
      .articleItem-content {
        margin: 30px 35px 0; }
        .articleItem-content::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 65px;
          height: 1px;
          background-color: #fff; }
      .articleItem-date {
        font-size: 18px; }
      .articleItem-title {
        font-size: 18px;
        line-height: 1.8; }
      .articleItem-link {
        margin-top: 20px; } }

@media only screen and (min-width: 768px) {
  .padDown {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .padUp {
    display: none !important; } }

@media only screen and (min-width: 1024px) {
  .pcDown {
    display: none !important; } }

@media only screen and (max-width: 1023px) {
  .pcUp {
    display: none !important; } }

.hidden {
  display: none !important; }

.textCenter {
  text-align: center; }

.bold {
  font-weight: bold; }
